#backtop {
    border-radius: 10px;
    position: fixed;
    right: 20px;
    bottom: -50px;
    background-color: transparent;
    background-color: var(--pirimary-color);
    transition: 0.5s;
}

#backtop a {
    display: block;
    padding: 15px;
    color: var(--white-color);
    font-size: var(--primary-size);
}

#backtop.backtop-show {
    bottom: 50px;
}