:root {
    --pirimary-color: #F53838;
    --primary-size: 16px;
    --second-size: 20px;
    --black-color: #0B132A;
    --white-color: #FFF;
    --chek-color: #2FAB73;
    --background-color: #F8F8F8;
}