#home {
    padding: 120px 0px 103px;
}

.home__boxs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.home__title {
    margin-bottom: 20px;
    max-width: 555px;
    color: #0B132A;
    font-family: Rubik;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px;
}

.home__span {
    color: #0B132A;
    font-family: Rubik;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
}

.home__text {
    margin-bottom: 50px;
    max-width: 555px;
}

span {
    max-width: 555px;
    color: #4F5665;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

strong {
    color: #4F5665;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.home__btn {
    padding: 17.5px 77px;
    margin-bottom: 20px;
    max-width: 250px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    color: #FFF;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    background: var(--pirimary-color);
}

.home__right__img {
    width: 100%;
    height: 382.444px;
    flex-shrink: 0;
}

/* home end  */
/* box start  */
.cards {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background: var(--white-color);
    box-shadow: 0px 0px 10px 10px gray;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    padding: 72px 100px 67px 91px;
    align-items: center;
    gap: 36px;
}

.card__text {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card__strong {
    color: var(--black-color);
    font-family: Rubik;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.card__span {
    color: #4F5665;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

/* box end  */
/* features start  */
#features {
    padding: 170px 0px 120px;
}

.features__boxs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.features__left__img {
    width: 100%;
    height: 414.715px;
    flex-shrink: 0;
}

.features__right__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.features__title {
    margin-bottom: 20px;
    max-width: 383.406px;
    color: var(--black-color);
    font-family: Rubik;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
}

.features__text {
    margin-bottom: 20px;
    max-width: 427.879px;
    color: #4F5665;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.features__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.features__item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.features__item i {
    color: var(--chek-color);
}

/* features end */
/* plan strat  */
#plan {
    padding: 80px 0px 80px;
    background-color: var(--background-color);
}

.plan__boxs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.plan__top__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plan__title {
    margin-bottom: 20px;
    max-width: 383.406px;
    color: #0B132A;
    text-align: center;
    font-family: Rubik;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
}

.plan__text {
    margin-bottom: 60px;
    max-width: 555px;
    color: #4F5665;
    text-align: center;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.plan__bottom__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}

.plan__card {
    display: flex;
    padding: 70px 30px 50px;
    flex-direction: column;
    align-items: center;
    max-width: 330px;
    height: 650px;
    flex-shrink: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 10px gray;
    border: 2px solid #DDD;
    background: #FFF;
}

.plan__card__img {
    margin-bottom: 30px;
    max-width: 144.904px;
    height: 165.374px;
    flex-shrink: 0;
}

.plan__card__title {
    margin-bottom: 30px;
    color: #0B132A;
    text-align: center;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.plan__card__list {
    margin-bottom: 130px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.plan__card__item {
    display: flex;
    align-items: center;
    gap: 13px;
}

.plan__card__item i {
    color: var(--chek-color);
}

.plan__card__bottom__title {
    margin-bottom: 20px;
    color: #0B132A;
    text-align: center;
    font-family: Rubik;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.plan__card__btn {
    padding: 13px 63px;
    max-width: 177.876px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 2px solid var(--pirimary-color);
    color: var(--pirimary-color);
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: transparent;
    transition: 0.5s;
}

.plan__card__btn:hover {
    color: var(--white-color);
    background-color: var(--pirimary-color);
}

/* plan strat  */
/* map start  */
#map {
    padding-top: 80px;
}

.map__boxs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.map__top__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.map__title {
    margin-bottom: 20px;
    max-width: 383.406px;
    color: #0B132A;
    text-align: center;
    font-family: Rubik;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
}

.map__text {
    margin-bottom: 20px;
    max-width: 555px;
    color: #4F5665;
    text-align: center;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.map__center__img {
    width: 100%;
    height: 537.771px;
    flex-shrink: 0;
}

.map__bottom__imgs {
    display: none;
    flex-direction: column;
}

.map__bottom__img {
    width: 100%;
    height: 60px;
    flex-shrink: 0;
}

/* map end  */
/* customer start  */
#customer {
    padding-top: 124px;
}

.customer__top__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.customer__title {
    max-width: 447.805px;
    color: #0B132A;
    text-align: center;
    font-family: Rubik;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
}

.customer__text {
    margin-bottom: 60px;
    max-width: 555px;
    color: #4F5665;
    text-align: center;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

/* customer end  */
/* carousel start  */
.carousel__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    max-width: 400px;
    height: 230px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid gray;
    box-shadow: 0px 5px 10px 5px gray;
    background: #FFF;
}

.carousel__card:hover {
    border: 2px solid var(--pirimary-color);
}

.carousel__list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.carousel__item__1 {
    display: flex;
    align-items: center;
}

.carousel__item img {
    max-width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
}

/* carousel end */
#subscribe {
    padding: 185px 0px 50px;
}

.subscribe__cards {
    padding: 30px 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0px 0px 5px 10px gray;
}

.subscribe__title {
    margin-bottom: 20px;
    display: flex;
    max-width: 371.615px;
    height: 80px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.subscribe__text {
    padding-bottom: 30px;
    color: #4F5665;
    max-width: 410px;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.subscribe__btn {
    padding: 17.5px 50px;
    max-width: 250px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F53838;
    box-shadow: 0px 0px 5px 5px gray;
    color: #FFF;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;

}